<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doubts</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body style="background-image: url(/images/dbg.jpg); background-repeat: no-repeat;; background-size: cover;">
    <nav class="navbar  navbar-expand-lg navbar-light bg-light"
        style="font-family: Georgia, 'Times New Roman', Times, serif;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="navbar-brand" href="#">
                            <img src="/images/logo.jpeg" alt="" width="30" height="24"><span
                                style="color:rgb(187, 187, 7);font-size: 18pt;">बन</span><span
                                style="color:rgb(196, 8, 8);font-size: 16pt;">Social</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/home">Home</a>
                    </li>
                </ul>
            </div>
            <div class="mx-2">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                         <li class="nav-item">
                        <a class="nav-link" href="/profile" style="color: black;">{{userName}}</a>
                    </li>
                         <a class="nav-link" href="/logout" style="text-decoration: none;color:rgb(218, 212, 212);background-color:rgb(23, 29, 29);border-radius: 5px">Log Out</a> 
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <div>
         <form name="theForm" action="/auth/sortteacher" method="post" enctype="multipart/form-data" >
            <div class="form-group" >
                <label for="tags"><span style="color:white">Sort by:</span></label>
                <select id="tags" name="tag" onchange="theForm.submit()">
                    <option value="null"></option>
                    <option value="CS">CS</option>
                    <option value="IT">IT</option>
                    <option value="EC">EC</option>
                    <option value="EEE">EEE</option>
                    <option value="EI">EI</option>
                    <option value="MT">MT</option>
                    <option value="BT">BT</option>
                </select>
            </div>
        </form>
        </div>
    <div class="container my-3 content">
        {{!-- rgb(27, 26, 26) --}}
        <h2 style="color:white;text-align:center;">DOUBTS !</h2>
        <form action="/auth/annteacher" method="post" enctype="multipart/form-data">
            <div class="card">
                <div class="card-body">
                    {{!-- <h5 class="card-title">ADD DOUBT</h5> --}}
                    {{!-- <form action="/auth/register" method="post"> --}}
                        <h6 class="card-title">TITLE</h6>
                        <div class="form-group" style="display:inline-block;">
                            <textarea class="form-control inputt" name="title" id="addTask" rows="1"></textarea>
                        </div>
                        <div class="form-group" style="display: inline-block;">
                            <label for="tags">Choose a tag:</label>
                            <select id="tags" name="tag">
                                <option value="CS">CS</option>
                                <option value="IT">IT</option>
                                <option value="EC">EC</option>
                                <option value="EEE">EEE</option>
                                <option value="EI">EI</option>
                                <option value="MT">MT</option>
                                <option value="BT">BT</option>
                            </select>
                        </div>

                        <h6 class="card-title">DESCRIPTION</h6>
                        <div class="form-group">
                            <textarea class="form-control inputt" name="textt" id="addTask" rows="2"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="file" name="pic" id="addpic" accept="image/*">
                        </div>
                        <button type="submit" class="btn btn-primary my-2" id="addBtn">POST</button>
                </div>
            </div>
        </form>
        <div id="tasks" class="announ row container-fluid" style="padding: 0;">
            {{#each resul}}
            <div class="noteCard my-2 mx-2 card">
                {{!-- style="width: 18rem;" --}}
                <h5>{{resul.id}}</h5>
                <div class="card-body row">
                    {{#if this.img}}
                    <div class="col-md-4">
                        <img src="/{{this.img}}" class="card-img-top" alt="..." height="180">
                    </div>
                    <div class="col-md-8">
                        {{else}}
                        <div>
                            {{/if}}
                    {{!-- <div class="col-md-8"> --}}
                        <div style="float:right">
                            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                data-bs-target="#exampleModal{{this.id}}" style=" display: inline; ">
                                Comment
                            </button>
                            <form action="/auth/commrteacher" method="post" enctype="multipart/form-data"
                                style="display: inline;">
                                <input type="hidden" name="pidd" value="{{this.id}}" />
                                <button type="submit" class="btn btn-primary my-2 btn-sm" id="addBtnr">View
                                    Discussion</button>


                            </form>
                        </div>
                        <div style="margin-top:0.5rem">
                            <h5 class="card-title">{{this.title}}</h5>
                            <p class="card-text">{{this.des}}<span style="color: blue;">#{{this.tag}}</span> </p>
                        </div>
                        <div style="float: right;">
                            <h6 style="color: gray;">{{this.name}} {{this.date}}</h6>
                        </div>
                        <div class="modal fade" id="exampleModal{{this.id}}" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Add Reply</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/auth/comm1teacher" method="post" enctype="multipart/form-data">
                                            <input type="hidden" name="pid" value="{{this.id}}" />
                                            <textarea class="form-control inputt" name="contentr" id="addTask"
                                                rows="1"></textarea>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Post</button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!--
                        <hr>
                        </hr> --}}


                        
                    </div>
                </div>
            </div>
            {{else}}
            <h4>No Doubts!</h4>
            {{/each}}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>