<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
    </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>
    <style>
        h1 {
            text-align: center;
            font-weight: 500;
            font-size: 3em;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            border: 2px solid white;
            border-radius: 25px;
            background-color: rgba(238, 249, 250, 0.8);
            color: black;
        }

        h3 {
            color: aliceblue;
        }

        hr {
            height: 4px;
            background-color: rgb(252, 157, 236);
            border: none;
        }

        .btn-custom {
            position: static width: fit-content;
            margin-top: 15px;

        }

        .card {
            background-color: rgba(238, 249, 250, 0.8);
            color: black;
        }
    </style>
</head>


<body style="background-image: linear-gradient( 135.9deg,  #4ca1af  16.4%, #c4e0e5 56.1% );
    min-height: 100vh;
    overflow-x: hidden;">
    <nav class="navbar  navbar-expand-lg navbar-light bg-light"
        style="font-family: Georgia, 'Times New Roman', Times, serif;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="navbar-brand" href="#">
                            <img src="/images/logo.jpeg" alt="" width="30" height="24"><span
                                style="color:rgb(187, 187, 7);font-size: 18pt;">बन</span><span
                                style="color:rgb(196, 8, 8);font-size: 16pt;">Social</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/aboutus">About Us</a>
                    </li>
                    <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Explore</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li> -->
                </ul>
            </div>
            <div class="mx-2">
                <ul class="navbar-nav mb-2 mb-lg-0">
                   {{#ifEquals userName "Admin"}}
                     <li class="nav-item">
                        <a class="nav-link" href="/dashboard" style="color: black;">{{userName}}</a>
                    </li>
                    {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/profile" style="color: black;">{{userName}}</a>
                    </li>
                    {{/ifEquals}}
                    <li class="nav-item">
                        <a href="/logout" class="btn btn-dark">Log Out</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    {{#ifEquals "Admin" userName}}
    <div>
        <form name="formr" action="/auth/showe" method="post">
            {{!-- <button type="submit" class="btn btn-primary btn-sm" id="rbtn">View Reported Posts</button> --}}
            <div class="form-group" style="position: fixed;">
                <label for="tags"><span style="color:white">Sort by:</span></label>
                <select id="tags" name="option" onchange="formr.submit()">
                    <option value="null"></option>
                    <option value="0">All Posts</option>
                    <option value="1">Reported Posts</option>
                </select>
            </div>
        </form>
    </div>
    {{/ifEquals}}
    <div class="container my-3 content">

        <h1>{{expname}} EXPERIENCE OF {{company}}</h1>
        <br>
        <form action="/auth/viewexp" method="post" enctype="multipart/form-data" autocomplete="off">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Want to share your {{expname}} experience for {{company}}? </h4>
                    <p>Make sure that the document to be uploaded has the name as :
                        <b>internship/placement duration.pdf</b> <br>(eg : 2020.pdf)
                    </p>
                    <hr>
                    <div class="form-group">
                        <input type="file" name="doc" id="adddoc">
                    </div>
                    <input type="hidden" name="expname" value="{{expname}}"></input>
                    <input type="hidden" name="company" value="{{company}}"></input>
                    <h6>Name</h6>
                    <textarea class="form-control inputt" name="fname" id="fname" rows="1"></textarea>
                    <button type="submit" class="btn btn-primary my-2" id="addBtn">Upload</button>
                </div>
            </div>
        </form>
        <div id="tasks" class="announ row container-fluid">
            {{#each resul}}
            <div class="noteCard my-2 mx-2 card" style="width: 100%;">
                <div class="card-body">
                    <h7>{{this.fname}}</h7>
                    <form action="/auth/exp_reports" method="post">
                        <input type="hidden" name="id" value="{{this.eid}}">
                        <input type="hidden" name="expname" value="{{../expname}}">
                        <input type="hidden" name="company" value="{{../company}}">
                        <div class="dropdown" style="display:inline;float:right">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                id="dropdownMenuButton{{this.eid}}" data-bs-toggle="dropdown" aria-expanded="false">
                            </button>
                            <ul class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton{{this.eid}}"
                                name="option">
                                {{#ifEquals "Admin" ../userName}}
                                <li><button class="btn bg-transparent" type="submit" name="deletebtn"
                                        value="{{this.eid}}">Delete</button></li>
                                {{#ifEquals this.reports 1}}
                                <li><button class="btn bg-transparent" type="submit" name="ureportbtn"
                                        value="{{this.eid}}">Unreport</button></li>
                                {{/ifEquals}}
                                {{else}}
                                {{#ifEquals this.email ../userEmail}}
                                <li><button class="btn bg-transparent" type="submit" name="deletebtn"
                                        value="{{this.eid}}">Delete</button></li>
                                {{else}}
                                <li><button class="btn bg-transparent" type="submit" name="reportbtn"
                                        value="{{this.eid}}">Report</button></li>
                                {{/ifEquals}}
                                {{/ifEquals}}
                            </ul>
                        </div>
                    </form>
                    <a href="/{{this.link}}"><button type="button"
                            class="btn btn-success btn-sm float-right">Download</button></a>
                </div>
            </div>
            {{else}}
            <h3>No Resources Yet!</h3>
            {{/each}}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>